## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import weather_api_key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chuy,UY,-33.6971,-53.4616,49.75,61,100,5.50,overcast clouds
1,1,Ketchikan,US,55.3422,-131.6461,59.47,72,0,4.61,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,76.82,82,82,24.54,broken clouds
3,3,Hualmay,PE,-11.0964,-77.6139,68.50,67,69,13.20,broken clouds
4,4,Marovoay,MG,-16.1000,46.6333,67.12,74,6,4.27,clear sky

# 2. Prompt the user to enter minimum and maximum temperature criteria 
Max= input ("enter maximum temperture :")
Min= input ("enter minimum temperture :")

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,76.82,82,82,24.54,broken clouds
7,7,Acarau,BR,-2.8856,-40.1200,80.42,81,81,13.06,broken clouds
10,10,Port Blair,IN,11.6667,92.7500,81.57,82,100,12.41,overcast clouds
12,12,Vaini,TO,-21.2000,-175.2000,77.16,78,40,6.91,scattered clouds
13,13,Lorengau,PG,-2.0226,147.2712,79.50,76,11,4.76,few clouds
15,15,Vanimo,PG,-2.6741,141.3028,75.85,90,12,6.80,few clouds
19,19,Puerto Ayora,EC,-0.7393,-90.3518,76.96,83,80,9.86,broken clouds
22,22,Topi,PK,34.0704,72.6236,79.14,34,5,6.26,clear sky
24,24,Takoradi,GH,4.8845,-1.7554,79.54,83,100,7.76,overcast clouds
27,27,Touros,BR,-5.1989,-35.4608,78.15,86,58,9.04,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.head()
np.where(pd.isnull(city_data_df))

(array([143, 196, 380, 426, 427, 633], dtype=int64),
 array([2, 2, 2, 2, 2, 2], dtype=int64))

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.dropna(inplace=True)
city_data_df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chuy,UY,-33.6971,-53.4616,49.75,61,100,5.50,overcast clouds
1,1,Ketchikan,US,55.3422,-131.6461,59.47,72,0,4.61,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,76.82,82,82,24.54,broken clouds
3,3,Hualmay,PE,-11.0964,-77.6139,68.50,67,69,13.20,broken clouds
4,4,Marovoay,MG,-16.1000,46.6333,67.12,74,6,4.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
689,689,Novouzensk,RU,50.4592,48.1431,64.08,59,42,8.16,scattered clouds
690,690,Rochegda,RU,62.8000,43.2500,57.52,90,100,2.37,overcast clouds
691,691,Mbini,GQ,1.5740,9.6134,77.67,89,100,5.14,light rain
692,692,Kudahuvadhoo,MV,2.6708,72.8944,83.66,73,100,15.79,overcast clouds
693,693,Panzhihua,CN,26.5851,101.7128,72.77,87,93,1.21,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chuy,UY,49.75,overcast clouds,-33.6971,-53.4616,
1,Ketchikan,US,59.47,clear sky,55.3422,-131.6461,
2,Rikitea,PF,76.82,broken clouds,-23.1203,-134.9692,
3,Hualmay,PE,68.50,broken clouds,-11.0964,-77.6139,
4,Marovoay,MG,67.12,clear sky,-16.1000,46.6333,
5,Timra,SE,49.68,broken clouds,62.4870,17.3257,
6,Sioux Lookout,CA,63.28,overcast clouds,50.1001,-91.9170,
7,Acarau,BR,80.42,broken clouds,-2.8856,-40.1200,
8,Bethel,US,68.85,overcast clouds,41.3712,-73.4140,
9,New Norfolk,AU,38.70,scattered clouds,-42.7826,147.0587,

In [8]:
# Iterate through the DataFrame.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chuy,UY,49.75,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
1,Ketchikan,US,59.47,clear sky,55.3422,-131.6461,Snow's Cove Lodge
2,Rikitea,PF,76.82,broken clouds,-23.1203,-134.9692,People ThankYou
3,Hualmay,PE,68.50,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
4,Marovoay,MG,67.12,clear sky,-16.1000,46.6333,Hôtel les Oliviers Marovoay
5,Timra,SE,49.68,broken clouds,62.4870,17.3257,Bergefors park
6,Sioux Lookout,CA,63.28,overcast clouds,50.1001,-91.9170,Knobby's Fly-In Camps
7,Acarau,BR,80.42,broken clouds,-2.8856,-40.1200,castelo pizzaria
8,Bethel,US,68.85,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
9,New Norfolk,AU,38.70,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages

In [10]:
hotel_df.head()
np.where(pd.isnull(hotel_df))

(array([], dtype=int64), array([], dtype=int64))

In [11]:
hotel_df.isna().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [12]:
nan_value = float("NaN")


hotel_df.replace("", nan_value, inplace=True)

hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

In [13]:
# 7. Drop the rows where there is no Hotel Name.


hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chuy,UY,49.75,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
1,Ketchikan,US,59.47,clear sky,55.3422,-131.6461,Snow's Cove Lodge
2,Rikitea,PF,76.82,broken clouds,-23.1203,-134.9692,People ThankYou
3,Hualmay,PE,68.50,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
4,Marovoay,MG,67.12,clear sky,-16.1000,46.6333,Hôtel les Oliviers Marovoay
...,...,...,...,...,...,...,...
687,Honolulu,US,84.02,scattered clouds,21.3069,-157.8583,Aston at the Executive Centre Hotel
688,Mumford,GH,79.99,broken clouds,5.2618,-0.7590,Spanish Villa
689,Novouzensk,RU,64.08,scattered clouds,50.4592,48.1431,Gostinichnyy Domik
692,Kudahuvadhoo,MV,83.66,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives
693,Panzhihua,CN,72.77,overcast clouds,26.5851,101.7128,Electric Power Hotel

In [14]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
 lat = row["Lat"]
 lng = row["Lng"]
 params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
      
 base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   # Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
        # Create an empty list to hold the weather data.

    # Set the parameters to search for a hotel in Paris.

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

hotels
# Search for hotels and add them in the weather dataframe.

#     print(hotels)
try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
        print("Hotel not found... skipping.")